.main-login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  h1 {
    letter-spacing: 0.1rem;
    width: 100px;
  }

  .form-signin {
    max-width: 330px;
    padding: 25px;
    background-color: $accent;
    padding-top: 60px;
    padding-bottom: 40px;
    border-radius: 10px;
  }

  .new-user {
    display: flex;
    justify-content: flex-end;
  }
}
